.navbar{
 
    width: 100%;
    background-color:black;
    position: absolute;
    top: 0;
}

.navbar img{
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

.navbar div{
    display: flex;
    align-items: center;
    justify-content: center;
}