.footer{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: black;
    align-items: center;
    padding: 1em;
}

.list{
    padding: 1em;
    list-style: none;
    display: flex;
    font-size: 1em;
    gap: 1em;
}

.item:hover{
    cursor: pointer;
    color: rgb(17, 138, 17);
}